{% autoescape on %}
{% if genes %}
    {% for g, p in genes %}
        <tr id="{{ g.id }}" offset="0">
            <td><a id="showabs{{ g.id }}" gene="{{ g.id }}" class="showabstracts" href="javascript: void(0);" offset="0">+</a></td>
            <td>{{ forloop.counter|add:offset }}</td>
            <td>{{ g.score|floatformat:-3 }}</td>
            <td>{{ p|floatformat:-5 }}
            <td>{{ g.symbol }}</td>
            <td>{{ g.name }}</td>
            <td><a href="http://www.ncbi.nlm.nih.gov/gene?term={{ g.entrez_id }}" target="_blank">{{ g.entrez_id }}</a></td>
            <td>{% if g.hgnc_id %}<a href="http://www.genenames.org/data/hgnc_data.php?hgnc_id={{ g.hgnc_id }}" target="_blank">{{ g.hgnc_id }}</a> {% else %} - {% endif %}</td>
            <td>{{ g.synonyms }}</td>
            <td>{{ g.maplocation }}</td>
        </tr>
    {% endfor %}
{% endif %}
{% endautoescape %}
