<style type="text/css">
a.sortabstracts.selected {
    font-weight: bold;
    text-decoration: none;
    color: #000;
    cursor: text;
}
</style>

<script type="text/javascript" src="/static/jquery-1.6.1.min.js"></script>
<script type="text/javascript">

// number of abstracts to fetch 
var abstractlimit = 15;

// clear and reset an "abstractcountainer" div
function resetabstracts(unique)
{
    var abstractdiv = $("div.abstractcontainer[abs_unique='" + unique + "']");

    abstractdiv.empty();
    abstractdiv.attr("offset", 0);
}

// fetch and display abstracts for the "abstractcontainer" div identified
// by the unique identifier
function fetchabstracts(unique)
{
    // find the abstractcontainer div with the unique identifier
    var abstractdiv = $("div.abstractcontainer[abs_unique='" + unique + "']");
    
    // spin
    $("img.spinner[abs_unique='" + unique + "']").show();
    
    // build query string
    var query = abstractdiv.attr("query") + "&orderby=" + abstractdiv.attr("orderby") + "&onlyreviews=" + abstractdiv.attr("onlyreviews") + "&limit=" + abstractlimit + "&offset=" + abstractdiv.attr("offset");
    
    $.getJSON(query)
    .success(function(data)
    {
        if (data.validresult)
        {
            // append abstracts to abstract div
            abstractdiv.append(data.result);

            // update the offset
            var offset = parseInt(abstractdiv.attr("offset"));
            offset += abstractlimit;
            abstractdiv.attr("offset", offset);

            // show "more abstracts" link if there are more abstracts,
            // hide it otherwise
            $("a.moreabstracts[abs_unique='" + unique + "']").show();

            var abstractcount = parseInt(abstractdiv.attr("abstractcount"));
            if (isNaN(abstractcount))
            {
                // we don't know how many abstracts there are
                $("a.moreabstracts[abs_unique='" + unique + "']").show();
            }
            else
            {
                if (offset > abstractcount)
                {
                    // there are no more abstracts
                    $("a.moreabstracts[abs_unique='" + unique + "']").hide();
                }
                else
                {
                    // there are more abstracts
                    $("a.moreabstracts[abs_unique='" + unique + "']").show();
                }
            }
        }
        else
        {
            // hide "more abstracts" link if we don't have valid results
            $("a.moreabstracts[abs_unique='" + unique + "']").hide();
        }

        // hide spinner
        $("img.spinner[abs_unique='" + unique + "']").hide();
    })
    .error(function()
    {
        flash("An error occurred!  Please check your internet connection and try again.  If the error persists, please contact us.");
    });

}

$(document).ready(function()
{
    fetchabstracts("{{ unique|escapejs }}");
});

// show more abstracts
$(document).delegate("a.moreabstracts", "click", function() {
    $(this).hide();
    fetchabstracts($(this).attr("abs_unique"));
});

// re-sort abstracts when the user clicks a link
$(document).delegate("a.sortabstracts", "click", function() {
    var unique = $(this).attr("abs_unique");
    
    // change link styles
    $("a.sortabstracts[abs_unique='" + unique + "']").removeClass("selected");
    $(this).addClass("selected");
    
    $("div.abstractcontainer[abs_unique='" + unique + "']").attr("orderby", $(this).attr("orderby"));
    resetabstracts(unique);
    fetchabstracts(unique);
});

$(document).delegate("input.onlyreviews", "change", function() {
    var unique = $(this).attr("abs_unique");

    
    $("div.abstractcontainer[abs_unique='" + unique + "']").attr("onlyreviews", $(this).is(":checked"));

    resetabstracts(unique);
    fetchabstracts(unique);
});
</script>

<b>Abstracts</b><br /><br />
Sort by: 
<a href="javascript:void(0);" class="sortabstracts{% if orderby == 'relevance'%} selected{% endif %}" abs_unique="{{ unique|escapejs }}" orderby="relevance">relevance</a>,
<a href="javascript:void(0);" class="sortabstracts{% if orderby == 'newest'%} selected{% endif %}" abs_unique="{{ unique|escapejs }}" orderby="newest">newest</a>,
<a href="javascript:void(0);" class="sortabstracts{% if orderby == 'oldest'%} selected{% endif %}" abs_unique="{{ unique|escapejs }}" orderby="oldest">oldest</a><br />
<label>Only show reviews: <input type="checkbox" class="onlyreviews" abs_unique="{{ unique|escapejs }}" {% if onlyreviews %}checked="checked"{% endif %} /></label><br />
<div class="abstractcontainer" abs_unique="{{ unique|escapejs }}" onlyreviews="{{ onlyreviews|urlencode }}" orderby="{{ orderby|urlencode }}" offset="0" abstractcount="{{ abstractcount|escapejs }}"
    query="abstracts?{% if q %}&q={{ q|urlencode }}{% endif %}{% if genes %}&genes={{ genes|urlencode }}{% endif %}{% if species %}&species={{ species|urlencode }}{% endif %}{% if usehomologs %}&usehomologs={{ usehomologs|urlencode }}{% endif %}"></div>
<img class="spinner" src="/static/spinner2.gif" abs_unique="{{ unique|escapejs }}" style="display:none">
<a href="javascript:void(0);" class="moreabstracts" abs_unique="{{ unique|escapejs }}" style="display:none">More abstracts...</a>
