<!DOCTYPE html PUBLIC
  "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    
    <link rel="stylesheet" type="text/css" href="/static/base.css" />
    <script type="text/javascript" src="/static/jquery-1.6.1.min.js"></script>
    <script type="text/javascript" src="/static/base.js"></script>
    <script type="text/javascript" src="/static/abstracts.js"></script>
    
    {% block head %}{% endblock %}
</head>
<body>
    <div id="header">
        <a href="/"><img src="/static/logo-small.png" id="smalllogo" border="0" /></a>
        <div id="topnav">
            <div id="toplinks">
                <a href="/">Home</a>
                <a href="/manual.html">User Manual</a>
                <a href="/contact.html">Contact</a>
            </div>
            <div id="tabs">
                {% block tabs %}{% endblock %}
            </div>
        </div>
        <div id="search">
            {% block header %}{% endblock %}
        </div>
    </div>
    <div id="content">
        {% block content %}{% endblock %}
        <div id="spinner" style="display:none"><img src="/static/spinner.gif" /></div>
    </div>

    <div id="errorbox" style="display:none">
        <span id="errormessage">An error occurred!  Please check your internet connection and try again.  If the problem persists, please <a href='/contact.html'>contact us</a>.</span>
        <a id="hideerror" href="javascript:hideflash();">Hide</a>
    </div>
    <div id="pagecover" style="display: none"></div>
</body>
</html>
