<!DOCTYPE html PUBLIC
  "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    
    <link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/bootstrap-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/base.css" />
    <script type="text/javascript" src="/static/jquery-1.6.1.min.js"></script>
    <script type="text/javascript" src="/static/base.js"></script>
    <script type="text/javascript" src="/static/abstracts.js"></script>
    
    {% block head %}{% endblock %}
</head>
<body>




    
    




<div id="controls-container">

    
    <div class="container-fluid">
        <div class="col-sm-4">
            <a href="/"><img src="/static/logo.png" style="width:180px;height:auto;"/></a>
        </div>
        <div class="col-sm-4 col-sm-offset-4" id="toplinks" style="text-align:right;">
            <a href="/manual.html" target="_blank">User&nbsp;Manual</a>
            <a href="/contact.html">Contact</a>   
        </div>
    </div>
    
    
    <div id="search">
        <div style="text-align:center;font-weight:bold;padding-bottom:15px;">Search over 1 million PubMed abstracts</div>
        <form id="searchform" class="form-horizontal">
            {{ form.usegenefile }}
            
            <input type="hidden" name="usegenefile" id="id_usegenefile" />
            
            <div class="form-group">
                <label for="id_q" class="col-sm-2 control-label">Search</label>
                <div class="col-sm-10">
                    {{ form.q }}
                </div>
            </div>
            
            <div class="form-group">
                <label for="genes" class="col-sm-2 control-label">Genes</label>
                  <div class="col-sm-10"><div class="input-group">
                    {{ form.genes }}
                    <div class="input-group-addon" style="background:white;border-left-color:white;border-right-color:white">
                        <a class="badge" id="uploadgenes" href="javascript:void(0);">Upload</a>
                    </div>
                    <div class="input-group-addon" style="background:white;border-left-color:whtie;">
                        {{ form.geneop }}
                    </div>
                  </div></div>
            </div>
            
            <div class="form-group">
                <label for="id_species" class="col-sm-2 control-label">Species</label>
                  <div class="col-sm-10">
                    <!--<select name="species" id="id_species" class="form-control">
                        <option value="9606">Homo sapiens</option>
                        <option value="10090">Mus musculus</option>
                        <option value="559292">Saccharomyces cerevisiae</option>
                    </select>-->
                    {{ form.species }}
                  </div>
            </div>
            
            <div class="form-group" style="margin-bottom:0">
                <div class="col-sm-10 col-sm-offset-2">
                <label>
                    {{ form.usehomologs }}
                    <span style="font-weight:normal;margin-left:10px">Include gene <b>homologs</b> from other species</span>
                </label>
                </div>
            </div>

        </form>
           
    </div>
    
    
    {% block searchbuttons %}{% endblock %}

</div>







        
        
        

    <div id="geneuploadbox" style="display:none"></div>
    <div id="content" class="container-fluid">
        {% block content %}{% endblock %}
        <div id="spinner" style="display:none"><img src="/static/spinner.gif" /></div>
    </div>

    <div id="errorbox" style="display:none">
        <span id="errormessage">An error occurred!  Please check your internet connection and try again.  If the problem persists, please <a href='/contact.html'>contact us</a>.</span>
        <a id="hideerror" href="javascript:hideflash();">Hide</a>
    </div>
    <div id="pagecover" style="display: none"></div>
</body>
</html>
