{% extends "base.html" %}

{% block title %} GADGET: Events for {%if genesyms %}{{ genesyms|join:', ' }}{% endif %} {% if q %}{{q|safe}}{% endif %} {% endblock %}

{% block head %}
{% if go %}
<script type="text/javascript">
    var q_arg = "{% if q %}&q={{ q|urlencode }}{% endif %}";
    var genes_arg = "{% if geneids %}&genes={{ geneids|join:',' }}{% endif %}";
    var genesyms_arg = "{% if genesyms %}&genes={{ genesyms|join:', ' }}{% endif %}";
</script>
<script type="text/javascript" src="/static/eventsearch.js"></script>
{% endif %}
{% endblock %}

{% block header %}
<form name="search" action="" method="get">
    {{ form.genes.label }}: {{ form.genes }}
    {{ form.q.label}}: {{ form.q }}
    <input type="submit" value="Search Events" />
</form>
<table id="download" style="display:none">
    <tr><td colspan="2">Download events:</td></tr>
    <tr>
        <td><a href="eventlist?{% if q %}&q={{ q|urlencode }}{% endif %}{% if geneids %}&genes={{ geneids|join:',' }}{% endif %}&download=csv">CSV</a></td>
        <td><a href="eventlist?{% if q %}&q={{ q|urlencode }}{% endif %}{% if geneids %}&genes={{ geneids|join:',' }}{% endif %}&download=xml" target="_blank">XML</a></td>
    </tr>
</table>
    
{% endblock %}

{% block content %}
<div id="description" style="display:none">
    Showing events{% if genesyms %} for genes <b>{{ genesyms|join:', '|safe }}</b>{% endif %}{% if q %} in abstracts matching <b>{{ q|safe }}</b>{% endif %}:
    <ul>
        {% if q %}<li><a href="genesearch?q={{ q|urlencode }}">Rank genes matching <b>{{ q|safe }}</b> &rarr;</li>{% endif %}
        <li><a href="javascript:eventgenes();" id="showeventgenes">See a list of genes referenced by these events...</a></li>
    </ul>
</div>
<div id="eventgenes" style="display:none"><b>Genes referenced by these events:</b><br />(Click on a gene to add it to the query.)</div>
<div id="results" style="display:none">
    <a class="hint" target="_blank" href="/manual.html#eventsearch">About event search results</a>
    <a class="hint" target="_blank" href="/manual.html#diagrams">Event diagrams</a>
    <table id="events"></table>
</div>
<input type="button" id="more" value="More..." style="display:none" />
{% endblock %}
