{% autoescape on %}{% for e in events %}
<tr>
<td><img class="event" src="eventplot.png?event={{e.id}}" /></td>
<td>

<b>Genes:</b>
{% for g in e.get_genes %}
    <a href="eventsearch?genes={{ g.symbol|urlencode }}{% if q %}&q={{ q|urlencode }}{% endif %}">{{ g.symbol }}</a>
    {% if not forloop.last %}, {% endif %}
{% empty %}
    No genes
{% endfor %}<br />

<b>Event types:</b>
{% for se in e.get_events %}
    {{ se.type }}{% if not forloop.last %}, {% endif %}
{% empty %}    
    No events
{% endfor %}<br />

<ul class="abstracts">
    {% with e.get_abstracts as abstracts %}
        {% include "abstracts.html" %}
    {% endwith %}
</ul>
</td>{{ e.save }}
{% endfor %}{% endautoescape %}

