{% extends "base.html" %}

{% block title %} GADGET: Interactions for {%if genesyms %}{{ genesyms|join:', ' }}{% endif %} {% if q %}{{q|safe}}{% endif %} {% endblock %}

{% block head %}
{% if go %}
<script type="text/javascript">
    var q_arg = "{% if q %}&q={{ q|urlencode }}{% endif %}";
    var genes_arg = "{% if geneids %}&genes={{ geneids|join:',' }}{% endif %}";
    var genesyms_arg = "{% if genesyms %}&genes={{ genesyms|join:', ' }}{% endif %}";
</script>
<script type="text/javascript" src="/static/eventsearch.js"></script>
{% endif %}
{% endblock %}

{% block header %}
<a href="/"><img src="/static/logo-small.png" id="smalllogo" border="0" style="vertical-align:middle"/></a>
<form name="search" action="" method="get">
    {{ form.q.label}}: {{ form.q }}
    {{ form.genes.label }}: {{ form.genes }}
    <input type="submit" value="Search Interactions" />
</form>
<table id="download" style="display:none">
    <tr><td colspan="2">Download interactions:</td></tr>
    <tr>
        <td><a href="eventlist?{% if q %}&q={{ q|urlencode }}{% endif %}{% if geneids %}&genes={{ geneids|join:',' }}{% endif %}&download=csv">CSV</a></td>
        <td><a href="eventlist?{% if q %}&q={{ q|urlencode }}{% endif %}{% if geneids %}&genes={{ geneids|join:',' }}{% endif %}&download=xml" target="_blank">XML</a></td>
    </tr>
</table>
    
{% endblock %}

{% block content %}
<div id="description" style="display:none">
    Showing interactions{% if genesyms %} for genes <b>{{ genesyms|join:', '|safe }}</b>{% endif %}{% if q %} in abstracts matching <b>{{ q|safe }}</b>{% endif %}:
    <ul>
        {% if q or genesyms %}<li><a href="genesearch?{% if q %}q={{ q|urlencode }}{% endif %}{% if genesyms %}&genes={{ genesyms|join:', '|urlencode }}{% endif %}&usehomologs=1">Rank genes matching{% if q %} <b>{{ q|safe }}</b>{% endif %}{% if genesyms and q %} and{% endif %}{% if genesyms %} <b>{{ genesyms|join:', ' }}</b>{% endif %}</a></li>{% endif %}
        <li><a href="javascript:eventgenes();" id="showeventgenes">See a list of genes referenced by these interactions...</a></li>
    </ul>
</div>
<div id="eventgenes" style="display:none"><b>Genes referenced by these interactions:</b><br />(Click on a gene symbol to add it to the query.)</div>
<div id="eventsummarycontainer" style="display:none">
    <b>Combinations of genes occuring in these interactions:</b><br />(Click on a gene symbol to add it to the query.)
    <table id="eventsummary"></table>
    <a id="moresummary" href="javascript:moresummary();">More...</a>
</div>
<div id="results" style="display:none">
    <h3>Interactions:</h3>
    <a class="hint" target="_blank" href="/manual.html#eventsearch">About interaction search results</a>
    <a class="hint" target="_blank" href="/manual.html#diagrams">Interaction diagrams</a>
    <table id="events"></table>
</div>
<input type="button" id="more" value="More..." style="display:none" />
{% endblock %}
