{% extends "base.html" %}

{% block title %}GADGET{% if q or genesyms %}: genes for{% if q %} {{ q|safe }}{% endif %}{% if q and genesyms %} and{% endif %}{% if genesyms %} {{ genesyms|safe }}{% endif %}{% endif %}{% endblock %}




{% block head %}
{% if q or genes or usegenefile %}
<script type="text/javascript">
    var q = "{{ q|urlencode }}";
    var genes = "{{ genes|urlencode }}";
    var geneop = "{{ geneop|urlencode }}"; // any/all
    var genesyms = "{{ genesyms|urlencode }}";
    var species = "{{ species|urlencode }}";
    var usehomologs = "{{ usehomologs|urlencode }}";
    var orderby = "{{ orderby|urlencode }}";
    var usegenefile = "{{ usegenefile|urlencode }}";
    var genefileID = "{{ genefileID|urlencode }}";
</script>
<script type="text/javascript" src="/static/genesearch.js"></script>
{% endif %}
{% if errormsg %}
<script type="text/javascript">
$(document).ready(function()
{
    flash("{{ errormsg|escapejs }} ");
});
</script>
{% endif %}
{% endblock %}





{% block searchbuttons %}
    <div id="search-buttons" class="container-fluid">
        <div class="col-sm-5 col-sm-offset-1">
            <div class="search-button search-button-active" id="search-button-genes" 
                style="background-image:url('/static/icon-gene-inverted.png')">
                Find genes
            </div>
        </div>
        <!--<div class="col-sm-4">
            <div class="search-button" id="search-button-keyphrases">
                <img src="/static/icon-text.png" style="width:100%;height:auto;">
                Find<br />keyphrases
            </div>
        </div>-->
        <div class="col-sm-5">
            <div class="search-button" id="search-button-metabolites"
                style="background-image:url('/static/icon-metabolite.png');padding-top:14px;cursor:default;">
                <span style="font-weight:normal">Coming soon</span><br />
                Find metabolites
            </div>
        </div>
    </div>
{% endblock %}




{% block content %}

<table id="download" style="display:none">
    <tr><td colspan="2">Download results:</td></tr>
    <tr>
        <td><a href="genelist?{% if q %}q={{ q|urlencode }}{% endif %}{% if genes %}&genes={{ genes|urlencode }}{% endif %}{% if species %}&species={{ species|urlencode }}{% endif %}{% if usehomologs %}&usehomologs={{ usehomologs|urlencode }}{% endif %}{% if orderby %}&orderby={{ orderby|urlencode }}{% endif %}{% if usegenefile %}&usegenefile=true{% if genefileID %}&genefileID={{ genefileID|urlencode }}{% endif %}{% endif %}&download=csv">CSV</a></td>
        <td><a href="genelist?{% if q %}q={{ q|urlencode }}{% endif %}{% if genes %}&genes={{ genes|urlencode }}{% endif %}{% if species %}&species={{ species|urlencode }}{% endif %}{% if usehomologs %}&usehomologs={{ usehomologs|urlencode }}{% endif %}{% if orderby %}&orderby={{ orderby|urlencode }}{% endif %}{% if usegenefile %}&usegenefile=true{% if genefileID %}&genefileID={{ genefileID|urlencode }}{% endif %}{% endif %}&download=xml" target="_blank">XML</a></td>
    </tr>
</table>

<div id="description" style="display:none">
    Showing and scoring <span id="genecount" style="display:none"></span> genes in <span id="abstractcount" style="display:none"></span> abstracts
    {% if q %} matching <b>{{ q|safe }}</b>{% endif %}
    {% if q %}{% if genesyms or usegenefile %} and{% endif %}{% endif %}
    {% if genesyms or usegenefile %} containing <b>{{ geneop|safe }}</b> of genes 
        {% if usegenefile %}in the file <b>{{ genefilename|safe }}</b>
        {% else %}<b>{{ genesyms|safe }}</b>{% endif %}
    {% endif %}<br />
    For species <b>{{ speciesname }}</b>,<b>{% if not usehomologs %} not{% endif %} using homologs</b><br /><br />
</div><br />

<div id="results" style="display:none">
    <b>Sort by:</b> {% if orderby == 'f1_score' %}<b>F1 Score</b>{% else %}<a href="javascript:order('f1_score');">F1 Score</a>{% endif %},
    {% if orderby == 'adjusted_precision' %}<b>Adjusted Precision</b>{% else %}<a href="javascript:order('adjusted_precision');">Adjusted Precision</a>{% endif %},
    {% if orderby == 'total_abstracts' %}<b>Total Abstracts</b>{% else %}<a href="javascript:order('total_abstracts');">Total Abstracts</a>{% endif %},
    {% if orderby == 'matching_abstracts' %}<b>Matching Abstracts</b>{% else %}<a href="javascript:order('matching_abstracts');">Matching Abstracts</a>{% endif %}<br /><br />

    <a class="hint" target="_blank" href="/manual.html#genesearch">About gene search results</a>
    <a class="hint" target="_blank" href="/manual.html#scores">About gene search scores</a>
    <table class="stripe" id="generank"></table>
</div>
<input type="button" id="more" value="More genes..." style="display:none" />
{% endblock %}
