{% extends "base.html" %}

{% block title %}GADGET{% if q or genesyms %}: genes for{% if q %} {{ q|safe }}{% endif %}{% if q and genesyms %} and{% endif %}{% if genesyms %} {{ genesyms|safe }}{% endif %}{% endif %}{% endblock %}




{% block head %}
{% if q or genes %}
<script type="text/javascript">
    var q = "{{ q|urlencode }}";
    var genes = "{{ genes|urlencode }}";
    var geneop = "{{ geneop|urlencode }}"; // any/all
    var genesyms = "{{ genesyms|urlencode }}";
    var species = "{{ species|urlencode }}";
    var usehomologs = "{{ usehomologs|urlencode }}";
    var orderby = "{{ orderby|urlencode }}";
</script>
<script type="text/javascript" src="/static/genesearch.js"></script>
{% endif %}
{% if errormsg %}
<script type="text/javascript">
$(document).ready(function()
{
    flash("{{ errormsg|escapejs }} ");
});
</script>
{% endif %}
{% endblock %}

{% block header %}
<form name="search" action="" method="get">
    <table>
        <tr>
            <td>{{ form.q.label }}: {{ form.q }}</td>
            <td>{{ form.genes.label }}: {{ form.geneop }}{{ form.genes }}</td>
            
            <td rowspan="2"><input type="submit" value="Search Genes" /></td>
        </tr>
        <tr>
            <td>{{ form.species.label }}: {{ form.species }}</td>
            <td style="text-align:left">{{ form.usehomologs.label }}: {{ form.usehomologs }}</td>
        </tr>
    </table>
</form><br />
<div class="searchtips" style="padding-left:100px">
    Search tips:
    <a target="_blank" href="/manual.html#queryterms">Keywords</a>
    <a target="_blank" href="/manual.html#geneentry">Gene symbols</a>
    <a target="_blank" href="/manual.html#species">Species</a>
    <a target="_blank" href="/manual.html#usehomologs">Inclusion of homologs</a>
</div>

<a id="uploadgenes" href="javascript:void(0);">Upload a file of gene ID's</a>

{% endblock %}

{% block tabs %}
<span class="tab selected">Gene search</span><span class="tab">
    <a href="eventsearch?{% if q %}q={{ q|urlencode }}{% endif %}{% if genesyms %}&genes={{ genesyms|urlencode }}{% endif %}">Interaction search</a>
</span>
{% endblock %}

{% block content %}

<div id="geneuploadbox" style="display:none"></div>

<table id="download" style="display:none">
    <tr><td colspan="2">Download results:</td></tr>
    <tr>
        <td><a href="genelist?{% if q %}q={{ q|urlencode }}{% endif %}{% if genes %}&genes={{ genes|urlencode }}{% endif %}{% if species %}&species={{ species|urlencode }}{% endif %}{% if usehomologs %}&usehomologs={{ usehomologs|urlencode }}{% endif %}{% if orderby %}&orderby={{ orderby|urlencode }}{% endif %}&download=csv">CSV</a></td>
        <td><a href="genelist?{% if q %}q={{ q|urlencode }}{% endif %}{% if genes %}&genes={{ genes|urlencode }}{% endif %}{% if species %}&species={{ species|urlencode }}{% endif %}{% if usehomologs %}&usehomologs={{ usehomologs|urlencode }}{% endif %}{% if orderby %}&orderby={{ orderby|urlencode }}{% endif %}&download=xml" target="_blank">XML</a></td>
    </tr>
</table>

<div id="description" style="display:none">
    Showing and scoring <span id="genecount" style="display:none"></span> genes in <span id="abstractcount" style="display:none"></span> abstracts{% if q %} matching <b>{{ q|safe }}</b>{% endif %}{% if q and genesyms %} and{% endif %}{% if genesyms %} containing <b>{{ geneop|safe }}</b> of genes <b>{{ genesyms|safe }}</b>{% endif %}<br />
    For species <b>{{ speciesname }}</b>,<b>{% if not usehomologs %} not{% endif %} using homologs</b><br /><br />
</div><br />

<div id="results" style="display:none">
    <b>Sort by:</b> {% if orderby == 'f1_score' %}<b>F1 Score</b>{% else %}<a href="javascript:order('f1_score');">F1 Score</a>{% endif %},
    {% if orderby == 'adjusted_precision' %}<b>Adjusted Precision</b>{% else %}<a href="javascript:order('adjusted_precision');">Adjusted Precision</a>{% endif %},
    {% if orderby == 'total_abstracts' %}<b>Total Abstracts</b>{% else %}<a href="javascript:order('total_abstracts');">Total Abstracts</a>{% endif %},
    {% if orderby == 'matching_abstracts' %}<b>Matching Abstracts</b>{% else %}<a href="javascript:order('matching_abstracts');">Matching Abstracts</a>{% endif %}<br /><br />

    <a class="hint" target="_blank" href="/manual.html#genesearch">About gene search results</a>
    <a class="hint" target="_blank" href="/manual.html#scores">About gene search scores</a>
    <table class="stripe" id="generank"></table>
</div>
<input type="button" id="more" value="More genes..." style="display:none" />
{% endblock %}
