{% autoescape on %}
{% if results %}
    {% for g, p in results %}
        <tr id="gene{{ g.entrez_id }}" offset="0" hits="{{ g.hits }}">
            <td class="rankcol">{{ forloop.counter|add:offset }}</td>
            <td class="namecol"><span class="genesymbol">{{ g.symbol }}</span><br /><span class="genename">{{ g.name }}</span></td>
            <td class="infocol">
                Entrez ID: <a href="http://www.ncbi.nlm.nih.gov/gene?term={{ g.entrez_id }}" target="_blank">{{ g.entrez_id }}</a><br />
                Map location: {{ g.maplocation }}<br />
                <span class="genesynonyms">Synonyms: {{ g.synonyms }}</span>
            </td>
            <td class="scorecol">
                F<span style="font-size:x-small;vertical-align:sub">1</span> score: {{ g.f1_score|floatformat:-3 }}<br />
                Adjusted precision: {{ g.precision|floatformat:-3 }}<br />
                <span class="pvalue">p-value: {{ p }}</span>
            </td>
            <td class="countcol">
                Total abstracts for {{ g.symbol }}: {{ g.abstracts_display }}<br />
                Matching abstracts: {{ g.hits }}<br />
                <a id="showabs{{ g.entrez_id }}" gene="{{ g.entrez_id }}" class="showabstracts" href="javascript: void(0);" genesymbol="{{ g.symbol|urlencode }}" offset="0">Show abstracts</a><br />
            </td>
            <td class="linkcol">
                <a id="showeventpreview{{ g.entrez_id }}" gene="{{ g.entrez_id }}" genesymbol="{{ g.symbol|urlencode }}" class="showeventpreview" href="javascript: void(0);">Interactions with {{g.symbol }}</a><br />
                <a id="showcrossrefs{{ g.entrez_id }}" gene="{{ g.entrez_id }}" class="showcrossrefs" href="javascript: void(0);">External links for {{ g.symbol }}</a>
            </td>
        </tr>
    {% endfor %}
{% endif %}
{% endautoescape %}
