{% extends "base.html" %}

{% block title %} GADGET: Genes for {{q|safe}} {% endblock %}

{% block head %}
{% if q %}
<script type="text/javascript">
    var q = "{{ q|urlencode }}";
    var orderby = "{{ orderby|urlencode }}";
</script>
<script type="text/javascript" src="/static/genesearch.js"></script>
{% endif %}
{% endblock %}

{% block header %}
<form name="search" action="" method="get">
    {{ form.q }}
    <input type="submit" value="Search Genes" />
</form>
<input type="button" id="download" value="Download results"/>
{% endblock %}

{% block content %}
<div id="description" style="display:none">
    Showing and scoring genes in abstracts matching <b>{{ q|safe }}</b>:<br />
    <a href="eventsearch?q={{ q|urlencode }}">See events in abstracts matching <b>{{ q|safe }}</b> &rarr;</a>
</div>
<table class="results stripe" id="generank" style="display:none">
    <tr>
        <th></th>
        <th>Rank</th>
        <th>{% if orderby == 'f1_score' %}<u>F1 Score</u>{% else %}<a href="javascript:order('f1_score');">F1 Score</a>{% endif %}</th>
        <th>{% if orderby == 'hits' %}<u>Matching Abstracts</u>{% else %}<a href="javascript:order('hits');">Matching Abstracts</a>{% endif %}</th>
        <th>{% if orderby == 'abstracts' %}<u>Total Abstracts</u>{% else %}<a href="javascript:order('abstracts');">Total Abstracts</a>{% endif %}</th>
        <th>{% if orderby == 'precision' %}<u>Adjusted Precision</u>{% else %}<a href="javascript:order('precision');">Adjusted Precision</a>{% endif %}</th>
        <th>p value</th>
        <th>Symbol</th>
        <th>Name</th>
        <th>Entrez ID</th>
        <th>HGNC ID</th>
        <th>Synonyms</th>
        <th>Map Location</th>
    </tr>
</table>
<input type="button" id="more" value="More..." style="display:none" />
{% endblock %}
