{% autoescape on %}
{% if genes %}
    {% for g, p in results %}
        <tr id="{{ g.id }}" offset="0" hits="{{ g.hits }}">
            <td><a id="showabs{{ g.id }}" gene="{{ g.id }}" class="showabstracts" href="javascript: void(0);" offset="0"><img src="/static/document.png" /></a></td>
            <td>{{ forloop.counter|add:offset }}</td>
            <td>{{ g.f1_score|floatformat:-3 }}</td>
            <td>{{ g.hits }}</td>
            <td>{{ g.abstracts_display }}</td>
            <td>{{ g.precision|floatformat:-3 }}</td>
            <td>{{ p }}</td>
            <td>{{ g.symbol }}</td>
            <td>{{ g.name }}</td>
            <td><a href="http://www.ncbi.nlm.nih.gov/gene?term={{ g.entrez_id }}" target="_blank">{{ g.entrez_id }}</a></td>
            <td>{{ g.synonyms }}</td>
            <td>{{ g.maplocation }}</td>
        </tr>
    {% endfor %}
{% endif %}
{% endautoescape %}
