<b>External links</b><br />
{% for cat in xrefcats %}
<br /><b>{% if cat.name %}{{ cat.name }}{% else %}Uncategorized{% endif %}</b>
    <ul>
    {% for xrefdb in cat.dblist %}
        <li>
            <b>{% if xrefdb.xreftype.description %}{{ xrefdb.xreftype.description }}{% else %}{{ xrefdb.idtype }}{% endif %}:</b>
            {% for xref in xrefdb.xreflist %}
                {% if xref.url %}<a href="{{ xref.url }}" target="_blank">{{ xref.crossref_id }}</a>{% else %}{{ xref.crossref_id }}{% endif %}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </li>
    {% endfor %}
    </ul>
{% empty %}
<br />No external links for this gene!
{% endfor %}
