{% extends "base.html" %}

{% block title %}GADGET{% if q or genesyms %}: keywords for{% if q %} {{ q|safe }}{% endif %}{% if q and genesyms %} and{% endif %}{% if genesyms %} {{ genesyms|safe }}{% endif %}{% endif %}{% endblock %}


{% block head %}
{% if q or genes %}
<script type="text/javascript">
    var q = "{{ q|urlencode }}";
    var genes = "{{ genes|urlencode }}";
    var geneop = "{{ geneop|urlencode }}"; // any/all
    var genesyms = "{{ genesyms|urlencode }}";
    var species = "{{ species|urlencode }}";
    var usehomologs = "{{ usehomologs|urlencode }}";
    var orderby = "{{ orderby|urlencode }}";
</script>
<script type="text/javascript" src="/static/keyphrasesearch.js"></script>
{% endif %}
{% if errormsg %}
<script type="text/javascript">
$(document).ready(function()
{
    flash("{{ errormsg|escapejs }} ");
});
</script>
{% endif %}
{% endblock %}


{% block header %}
<form name="search" action="" method="get">
    <table>
        <tr>
            <td>{{ form.q.label }}: {{ form.q }}</td>
            <td>{{ form.genes.label }}: {{ form.geneop }}{{ form.genes }}</td>
            
            <td rowspan="2"><input type="submit" value="Search Keywords" /></td>
        </tr>
        <tr>
            <td>{{ form.species.label }}: {{ form.species }}</td>
            <td style="text-align:left">{{ form.usehomologs.label }}: {{ form.usehomologs }}</td>
        </tr>
    </table>
</form><br />
<div class="searchtips" style="padding-left:100px">
    Search tips:
    <a target="_blank" href="/manual.html#queryterms">Keywords</a>
    <a target="_blank" href="/manual.html#geneentry">Gene symbols</a>
    <a target="_blank" href="/manual.html#species">Species</a>
    <a target="_blank" href="/manual.html#usehomologs">Inclusion of homologs</a>
</div>

{% endblock %}


{% block tabs %}
<span class="tab"><a href="genesearch?{% if q %}&q={{ q|urlencode }}{% endif %}{% if genesyms %}&genes={{ genesyms|urlencode }}{% endif %}{% if geneop %}&geneop={{ geneop|urlencode }}{% endif %}{% if species %}&species={{ species|urlencode }}{% endif %}{% if usehomologs %}&usehomologs={{ usehomologs|urlencode }}{% endif %}">Gene search</a></span>
<span class="tab"><a href="eventsearch?{% if q %}q={{ q|urlencode }}{% endif %}{% if genesyms %}&genes={{ genesyms|urlencode }}{% endif %}">Interaction search</a></span>
<span class="tab selected">Keyword search</span>
{% endblock %}


{% block content %}
<div id="description" style="display:none">
    Showing and scoring keywords in <span id="abstractcount" style="display:none"></span> abstracts{% if q %} matching <b>{{ q|safe }}</b>{% endif %}{% if q and genesyms %} and{% endif %}{% if genesyms %} containing <b>{{ geneop|safe }}</b> of genes <b>{{ genesyms|safe }}</b>{% endif %}<br />
    For species <b>{{ speciesname }}</b>,<b>{% if not usehomologs %} not{% endif %} using homologs</b><br /><br />
</div><br />

<div id="results" style="display:none">

    <b>Sort by:</b> 
    {% if genes %}
        {% if orderby == 'total_genes' %}<b>Total Genes</b>{% else %}<a href="javascript:order('total_genes');">Total Genes</a>{% endif %},
        {% if orderby == 'query_genes' %}<b>Query Genes</b>{% else %}<a href="javascript:order('query_genes');">Query Genes</a>{% endif %},
        {% if orderby == 'gene_precision' %}<b>Gene Precision</b>{% else %}<a href="javascript:order('gene_precision');">Gene Precision</a>{% endif %},
        {% if orderby == 'gene_recall' %}<b>Gene Recall</b>{% else %}<a href="javascript:order('gene_recall');">Gene Recall</a>{% endif %},
        {% if orderby == 'gene_f1_score' %}<b>Gene F1 Score</b>{% else %}<a href="javascript:order('gene_f1_score');">Gene F1 Score</a>{% endif %},<br />
    {% endif %}
    
    {% if orderby == 'total_abstracts' %}<b>Total Abstracts</b>{% else %}<a href="javascript:order('total_abstracts');">Total Abstracts</a>{% endif %},
    {% if orderby == 'query_abstracts' %}<b>Query Abstracts</b>{% else %}<a href="javascript:order('query_abstracts');">Query Abstracts</a>{% endif %},
    {% if orderby == 'abstract_precision' %}<b>Abstract Precision</b>{% else %}<a href="javascript:order('abstract_precision');">Abstract Precision</a>{% endif %},
    {% if orderby == 'abstract_recall' %}<b>Abstract Recall</b>{% else %}<a href="javascript:order('abstract_recall');">Abstract Recall</a>{% endif %},
    {% if orderby == 'abstract_f1_score' %}<b>Abstract F1 Score</b>{% else %}<a href="javascript:order('abstract_f1_score');">Abstract F1 Score</a>{% endif %}
    <br /><br />
        
    <table id="keywords">
        <tr>
            <th>rank</th>
            <th>string</th>
            <th>total genes</th>
            <th>query genes</th>
            <th>gene recall</th>
            <th>gene precision</th>
            <th>gene f1</th>
            <th>total abstracts</th>
            <th>query abstracts</th>
            <th>abstract precision</th>
            <th>abstract recall</th>
            <th>abstract f1</th>
        </tr>
    </table>
</div>

<input type="button" id="more" value="More keywords..." style="display:none" />
{% endblock %}
