{% extends "base.html" %}

{% block title %}GADGET{% if q or genesyms %}: keywords for{% if q %} {{ q|safe }}{% endif %}{% if q and genesyms %} and{% endif %}{% if genesyms %} {{ genesyms|safe }}{% endif %}{% endif %}{% endblock %}


{% block head %}
{% if q or genes or usegenefile %}
<script type="text/javascript">
    var q = "{{ q|urlencode }}";
    var genes = "{{ genes|urlencode }}";
    var geneop = "{{ geneop|urlencode }}"; // any/all
    var genesyms = "{{ genesyms|urlencode }}";
    var species = "{{ species|urlencode }}";
    var usehomologs = "{{ usehomologs|urlencode }}";
    var orderby = "{{ orderby|urlencode }}"    
    var usegenefile = "{{ usegenefile|urlencode }}";
    var genefileID = "{{ genefileID|urlencode }}";;
</script>
<script type="text/javascript" src="/static/keyphrasesearch.js"></script>
{% endif %}
{% if errormsg %}
<script type="text/javascript">
$(document).ready(function()
{
    flash("{{ errormsg|escapejs }} ");
});
</script>
{% endif %}
{% endblock %}


{% block header %}
<form name="search" action="" method="get">
{{ form.usegenefile }}
    <table>
        <tr>
            <td>{{ form.q.label }} {{ form.q }}</td>
            <td>
                {{ form.genes.label }} {{ form.geneop }}{{ form.genes }}<br />
                <a id="uploadgenes" href="javascript:void(0);">Upload a file of gene ID's</a>
                <a id="cleargenefile" href="javascript:void(0);">Clear gene file</a>
            </td>
            
            <td rowspan="2"><input type="submit" value="Search Keywords" /></td>
        </tr>
        <tr>
            <td>{{ form.species.label }} {{ form.species }}</td>
            <td style="text-align:left">{{ form.usehomologs.label }} {{ form.usehomologs }}</td>
        </tr>
    </table>
</form><br />
<div class="searchtips" style="padding-left:100px">
    Search tips:
    <a target="_blank" href="/manual.html#queryterms">Keywords</a>
    <a target="_blank" href="/manual.html#geneentry">Gene symbols</a>
    <a target="_blank" href="/manual.html#species">Species</a>
    <a target="_blank" href="/manual.html#usehomologs">Inclusion of homologs</a>
</div>

<br />

{% endblock %}


{% block tabs %}
<span class="tab"><a href="genesearch?{% if q %}&q={{ q|urlencode }}{% endif %}{% if genesyms %}&genes={{ genesyms|urlencode }}{% endif %}{% if geneop %}&geneop={{ geneop|urlencode }}{% endif %}{% if species %}&species={{ species|urlencode }}{% endif %}{% if usehomologs %}&usehomologs={{ usehomologs|urlencode }}{% endif %}{% if usegenefile %}&usegenefile=true{% endif %}">Gene search</a></span>
<span class="tab selected">Keyphrase search</span>
<span class="tab"><a href="eventsearch?{% if q %}q={{ q|urlencode }}{% endif %}{% if genesyms %}&genes={{ genesyms|urlencode }}{% endif %}">Interaction search</a></span>
{% endblock %}


{% block content %}

<table id="download" style="display:none">
    <tr><td colspan="2">Download results:</td></tr>
    <tr>
        <td><a href="keywordlist?{% if q %}q={{ q|urlencode }}{% endif %}{% if genes %}&genes={{ genes|urlencode }}{% endif %}{% if species %}&species={{ species|urlencode }}{% endif %}{% if usehomologs %}&usehomologs={{ usehomologs|urlencode }}{% endif %}{% if orderby %}&orderby={{ orderby|urlencode }}{% endif %}{% if usegenefile %}&usegenefile=true{% if genefileID %}&genefileID={{ genefileID|urlencode }}{% endif %}{% endif %}&download=csv">CSV</a></td>
        <!-- <td><a href="keywordlist?{% if q %}q={{ q|urlencode }}{% endif %}{% if genes %}&genes={{ genes|urlencode }}{% endif %}{% if species %}&species={{ species|urlencode }}{% endif %}{% if usehomologs %}&usehomologs={{ usehomologs|urlencode }}{% endif %}{% if orderby %}&orderby={{ orderby|urlencode }}{% endif %}&download=xml" target="_blank">XML</a></td> -->
    </tr>
</table>

<div id="description" style="display:none">
    Showing and scoring keyphrases in <span id="abstractcount" style="display:none"></span> abstracts{% if q %} matching <b>{{ q|safe }}</b>{% endif %}{% if q %}{% if genesyms or usegenefile %} and{% endif %}{% endif %}{% if genesyms or usegenefile %} containing <b>{{ geneop|safe }}</b> of genes {% if usegenefile %}in the file <b>{{ genefilename|safe }}</b>{% else %}<b>{{ genesyms|safe }}</b>{% endif %}{% endif %}<br />
    For species <b>{{ speciesname }}</b>,<b>{% if not usehomologs %} not{% endif %} using homologs</b><br /><br />
</div><br />

<div id="results" style="display:none">

    <b>Sort by:</b> 
    {% if genes or usegenefile %}
        {% if orderby == 'total_genes' %}<b>Total Genes</b>{% else %}<a href="javascript:order('total_genes');">Total Genes</a>{% endif %},
        {% if orderby == 'query_genes' %}<b>Matching Genes</b>{% else %}<a href="javascript:order('query_genes');">Matching Genes</a>{% endif %},
        {% if orderby == 'gene_precision' %}<b>Gene Precision</b>{% else %}<a href="javascript:order('gene_precision');">Gene Precision</a>{% endif %},
        {% if orderby == 'gene_recall' %}<b>Gene Recall</b>{% else %}<a href="javascript:order('gene_recall');">Gene Recall</a>{% endif %},
        {% if orderby == 'gene_f1_score' %}<b>Gene F1 Score</b>{% else %}<a href="javascript:order('gene_f1_score');">Gene F1 Score</a>{% endif %},<br />
    {% endif %}
    
    {% if orderby == 'total_abstracts' %}<b>Total Abstracts</b>{% else %}<a href="javascript:order('total_abstracts');">Total Abstracts</a>{% endif %},
    {% if orderby == 'query_abstracts' %}<b>Matching Abstracts</b>{% else %}<a href="javascript:order('query_abstracts');">Matching Abstracts</a>{% endif %},
    {% if orderby == 'abstract_precision' %}<b>Abstract Precision</b>{% else %}<a href="javascript:order('abstract_precision');">Abstract Precision</a>{% endif %},
    {% if orderby == 'abstract_recall' %}<b>Abstract Recall</b>{% else %}<a href="javascript:order('abstract_recall');">Abstract Recall</a>{% endif %},
    {% if orderby == 'abstract_f1_score' %}<b>Abstract F1 Score</b>{% else %}<a href="javascript:order('abstract_f1_score');">Abstract F1 Score</a>{% endif %}
    <br /><br />
        
    <table id="keywords"></table>
</div>

<input type="button" id="more" value="More keywords..." style="display:none" />
{% endblock %}
