body {
    font-family: sans, sans-serif;
}

#header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 98.5%;
    background-color: #e4d9ff; /*#f4ffd9; #E8FAC5;*/
    border: solid 1px #968fa8;
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 6px;
    padding-right: 0px;
    margin: 0px 3px;
}

#header a{
    font-weight: bold;
    color: #000
}

#content {
    padding-top: 45px;
}

#flash {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #e4d9ff;
    display: none;
    padding: 10px;
    border-radius: 10px;
    border: solid 1px #968fa8;
}

#title {
    display: block;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 8px;
}

table.results th {
    background-color: #D9F4FF;
    font-weight: bold;
}

table.results th a {
    text-decoration: none;
}

table.results td {
    padding: 5px 10px;
    /*border-bottom: 1px solid #000000;*/
    margin: 0px;
} 

table.results tr {
    background-color: #F5FCFF;
}

table.results tr.alt {
    background-color: #EBF9FF;
}

table.results tr.over {
    background-color: #D9F4FF;
}

a.showabstracts {
    font-weight: bold;
    text-decoration: none;
}

table#generank tr.abstracts td {
    background-color: #F0EBFF;
    padding: 0px 10% 5px 10%;
    font-size: 80%;
}

table#generank tr.abstracts ul li {
    padding-top: 5px;
}

table#generank a.moreabstracts {
    font-weight: bold;
}

input {
    font-size: 14px;
    font-weight: bold;
    padding: 4px;
}

form {
    display: inline;
}

input#download {
    position: absolute;
    right: 10px;
}

input#more {
    margin-top: 10px;
}

div#description {
    padding-bottom: 5px;
}

div#description ul {
    margin: 0;
    padding-left: 20px;
}

table#events tr td {
    border-bottom: solid 1px #DCE3E8;
}

div#eventgenes{
    padding: 10px;
}

table#eventgenes{
    border: solid #FFB057;
    border-width: 1px 0 0 1px;
    border-collapse: collapse;
}

table#eventgenes td{
    background-color: #FFF4B8;
    padding: 5px 5px;
    border: solid #FFB057;
    border-width: 0 1px 1px 0;
    margin: 0;
    text-align: center;
}

table#eventgenes td a{
    color: #000;
}

div#front {
    margin: 50px auto 0 auto;
    border: solid 1px black;
    width: 50%;
    text-align: center;
    padding: 15px 5px;
    background-color: #e4d9ff; /*#f4ffd9; #E8FAC5;*/
    border: solid 1px #968fa8;
    border-radius: 10px;
}

div#front table{
    margin: 0 auto;
}

div#front span#title {
    font-size: xx-large;
}

a.topic {
    display: block;
    font-size: x-large;
    font-weight: bold;
    margin-top: 40px;
}

div.example {
    border-left: solid 2px #426BA2 /*#74C7DC*/;
    margin-left: 5%;
    padding-left: 5px;
    margin-bottom: 5px;
}

div.example span, span.example, 
table.instructions tr td:first-child, table.instructions span {
    font-family: Consolas, mono;
    color: #426BA2;
    font-weight: bold;
    background-color: #DCE8FA;
    padding: 1px 5px;
}

table.instructions
{
    margin: 0 5%;
}

table.instructions td
{
    padding: 5px 10px;
}
