body {
    font-family: sans, sans-serif;
    background: #FFF:
    color: #000;
}

form {
    display: inline;
}

a:link {
    color: #702B34; 
}

a:visited {
    color:	#702B34; /*#A89C4D;*/
}

a.hint {
    font-size: 12px;
    text-align: left;
    padding: 0px 5px;
    font-weight: normal;
}


div#pagecover {
    position: fixed;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 9998;
    top: 0;
    left: 0;
}

div#geneuploadbox {
    position: fixed;
    z-index: 9999;
    background: #fff;
    width: 500px;
    left: 50%;
    margin-left: -250px;
    top: 15%;
    border-radius: 5px;
    padding: 20px;
    border: solid 10px white;
}

div#geneuploadbox iframe {
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 300px;
}









/*******************************************************************************
* Search box
*******************************************************************************/

div#header {
    margin: 0 5%;
}

div#controls-container {
    margin: 60px auto 30px auto;
    max-width: 900px;
}

div#search {
    background-color: /*#70384A;*/ /*#70344E;*/ #702B34; /*#702B41;*/ /*AA0039;*/
    border-radius: 10px;
    padding: 20px;
    padding-top: 15px;
    margin-top: 5px;
    color: white;
}


div#search input#id_genes {
    border-right-color: white;
}



/* any/all radio buttons */
div#search ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

div#search li {
    display: inline;
}

.input-group-addon label {
    margin-bottom: 0 !important; /* override bootstrap for any/all on firefox */
}




a#uploadgenes {
    background-color: #B04466;
    color: white;
    transition: 0.3s;
}

a#uploadgenes:hover {
    background-color: #702B34;
}




div#search-buttons {
    /*max-width: 700px;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

div.search-button {
    background-repeat: no-repeat;
    background-position: left center;
    background-size: auto 90%;
    border: 2px solid #702B34;
    border-radius: 15px;
    text-align: center;
    color: #702B34;
    font-weight: bold;
    padding: 25px;
    padding-left: 75px;
    font-size: 120%;
    height: 80px;
    cursor: pointer;
}

div.search-button:hover {
    background-color: #E6DADC;
    transition: 0.2s;
}

div.search-button-active {
    background-color: #702B34;
    color: white;
}

div.search-button.search-button-active:hover {
    background-color: #542027;
}




div#toplinks {
    text-align: right;
    padding-top: 5px;
}

div#toplinks a {
    margin-left: 30px;
    text-decoration: none;
    color: #702B34;
    position: relative;
    bottom: -6px;
    font-size: 125%;
}

div#toplinks a:hover {
    text-decoration: underline;
    transition: 0.2s;
}


img.help-icon {
    display: inline;
    vertical-align: -3px;
    margin-left: 5px;
}

img.help-icon:hover {
    opacity: 0.7;
    transition: 0.2s;
}





#content {
    max-width: 900px;
    margin-left:  auto;
    margin-right: auto;
    margin-top: 100px;
}




a#download-results {
    display:inline-block;
    padding: 10px 20px;
    border-radius: 20px;
    border: solid 2px #702B34;
    color: #702B34;
    text-decoration: none;
    font-weight: bold;
}

a#download-results:hover {
    background: #E6DADC;
    transition: 0.1s;
}




div.sort-btn-group {
    margin-left: 14px;
    /*border: solid 1px #702B34;
    border-radius: 4px;*/
    display: inline-block !important;
}

a.sort-btn {
    border: solid 1px #702B34;
    color: #702B34 !important;
}

a.sort-btn:hover {
    color: #702B34 !important;
    background: #E6DADC;
    transition: 0.1s;
}

a.sort-btn-active, a.sort-btn-active:hover {
    background: #702B34;
    font-weight: bold;
    color: white !important;
    pointer-events: none;
}




div#errorbox {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    border: solid #613333;
    border-width: 2px 0px;
    font-weight: bold;
    padding: 10px;
    background: #E0B2B2;
    color: #613333;
}

div#errorbox span#errormessage {
    padding-right: 5em;
}

div#errorbox a {
    color: #613333;
    text-decoration: underline;
}

div#errorbox a#hideerror {
    position: fixed;
    right: 10px;
}

img#spinner {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 50px;
}

#title {
    display: block;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 8px;
}


a#more {
    display: block;
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 160%;
    color: #702B34;
}



.popover ul {
    padding-left: 16px;
}

.popover .help-more {
    text-align: right;
}






/*******************************************************************************
* Results table
*******************************************************************************/

div.result-list {
    font-size: 90%;
}

div.result-list a {
    color: #f26400;
}

div.result-row {
    margin-bottom: 15px;
}


div.rankcol {
    padding-left: 0;
    padding-right: 0;
    padding-top: 24px;
    vertical-align: center;
}

div.namecol {
    padding-top: 12px;
    padding-left: 0;
    vertical-align: center;
}

div.namecol span.genesymbol {
    font-weight: bold;
    font-size: 160%;
}

div.namecol span.genename {
    color: #444;
}


div.infocol {
    padding-top: 12px;
}

span.genesynonyms {
    font-size: 80%;
    color: #444;
}



div.scorecol span.pvalue {
    padding-left: 15px;
}

.result-list span.score.selected, .result-list span.score.selected {
    font-weight: bold;
}



div.scorebox {
    border: solid 2px #702B34;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: center;
}


a.showabstracts:before {
    content: "";
    display: inline-block;
    background: url("/static/icon-text.png") no-repeat;
    width: 20px;
    height: 20px;
    vertical-align: -4px;
    margin-right: 5px;
    margin-left: 3px;
}

a.showcrossrefs {
    display: inline-block;
    margin-left: 10px;
    font-size:90%;
    
}

a.showcrossrefs img {
    height: 15px;
    width: 15px;
    border: 0;
    display: inline-block;
    vertical-align: 0px;
}






/*****************************************************************************
* abstracts + external links panes */



#generank div.pane {
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 80px;
    position: relative;
}


span.pane-title {
    font-size: 180%;
    color: #702B34;
}

input.onlyreviews {
    margin-left: 40px;
}


#generank div.abstracts.pane ul li {
    padding-bottom: 18px;
}

#generank div.crossrefs.pane ul li {
    padding-bottom: 10px;
}

a.sortabstracts.selected, a.genefilter.selected {
    font-weight: bold;
    text-decoration: none;
    color: #000;
    cursor: text;
}

a.moreabstracts {
    font-size: 150%;
    padding-left: 40px;
}


#generank a.hidepanes {
    display: block;
    padding-top: 10px;
    color: #702B34;
}

#generank div.abstracts.pane a.hidepanes {
    padding-left: 40px;
}

a.hidepanes.close-pane-x {
    position: absolute;
    right: 0;
    top: 20px;
    font-size: 300%;
}

#generank a.hidepanes.close-pane-x:hover {
    color: #B04466;
    text-decoration: none;
    transition: 0.1s;
}


/*******************************************************************************
* User manual, front page, contact
*******************************************************************************/




div.example {
    border-left: solid 2px #808C3C; /*#74C7DC*/;
    margin-left: 5%;
    padding-left: 5px;
    margin-bottom: 5px;
        color: #555;
}

div.example span, span.example, 
table.instructions tr td:first-child, table.instructions span {
    font-family: Consolas, mono;
    color: #808C3C;
    font-weight: bold;
    background-color: #E1EDB9;
    padding: 1px 5px;
}

div.example ul {
    padding-left: 20px;
}

div.example ul a {
    color: #555;
    font-size: 80%;
}

/*******************************************************************************
* Front page
*******************************************************************************/

div#frontsearch {
    margin: 5px auto;
    text-align: center;
    padding: 10px 3px;
    background-color: #e4d9ff; /*#f4ffd9; #E8FAC5;*/
    /*border: solid 1px #968fa8;*/
    border-radius: 10px;
}

div#frontsearch table{
    width:100%;
}

div#links {
    text-align: center;
    padding: 10px;
}


div#links a:hover {
    color: #998E46;
}

/*******************************************************************************
* User manual
*******************************************************************************/

div#manual {
    margin: auto;
    width: 800px;
    max-width: 100%;
    padding: 14px;
}

div#manual h1 {
    color: #702B34;
}

div#manual a.topic {
    display: block;
    font-size: x-large;
    margin-top: 60px;
    color: #702B34;
    text-decoration: none;
}

table.instructions {
    margin: 0 5%;
}

table.instructions td {
    padding: 5px 10px;
}


